body {
    background-image: url("http://www.el3.co/image/secret.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    */
   	background-color: #000000 !important;
}

.page-header {
	background-color: transparent !important;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 22pt;
	text-align: center;
	color: #ffffff; 
	text-shadow: 2px 2px 9px #000000;
}

h3 small {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	color: #ffffff;
	text-shadow: 2px 2px 9px #000000;
	margin: 5px;
}