

/* general */

h4 {
	font-size: 18pt;
	color: #999999;
}


/* navbar */

.navbar-right {
	text-align: center;
}

.navbar .nav > li > a, .navbar .nav > li {
	color: #666;
	text-shadow: none;
}

.navbar .nav > li > a:hover, .navbar .nav > li { 
	color: #0099ff;                      
	text-shadow: none;
}

.navbar .nav li a:hover {
	color: #0099ff;
}

.dropdown-toggle {
	text-transform: uppercase;
}

/* 
.dropdown-menu {
	text-align: center;
}
*/




/* main */

body {
	color: #999;
	background-color: #fff;
}

h2 {
	color: #0099ff;
}

a {
	color: #0ab9ab;
}

a:hover {
	color: #000;
}



/* jumbotron */

.jumbotron {
	background-image: url(http://el3.co/image/jumbotron2.jpg);
	background-size: cover;
	width: 100%;
}

.jumbotron h1 {
/*	padding-top: 50px;   */
	color: #fff;
}


/* horizontal rule around text */
.jumbotron h5 {
    overflow: hidden;
    text-align: center;
}

.jumbotron h5:before, h5:after {
	background-color: #666;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.jumbotron h5:before {
    right: 0.5em;
    margin-left: -50%;
}

.jumbotron h5:after {
    left: 0.5em;
    margin-right: -50%;
}

/* horizontal rule around text end */




/*	jumbostuff */

.jumbostuff {
  padding: 40px 15px;
  text-align: center;
}


/*  jumbo for contact */

.jumbomap {
	background-image: url(http://el3.co/image/jumbotron-contact-b.jpg);
	background-size: cover;
	width: 100%;

}

.jumbomap h1 {
	color:#ffffff;
	font-size: 50pt;
	text-shadow: 2px 2px 15px #000000;
	text-align: center;
	margin: 10px;
}

.jumbomap h3 {
	color: #ffffff;
	text-shadow: 1px 1px 15px #000000;
	text-align: center;
}



/* heading */

.page-header {
	color: #0099ff;
    border-color: #bababa;
    text-align: left;
}


/* main link images */

.darkBG {
	background: #fff;
	padding: 30px;
}

#link-altered {
  margin:0 auto;
  width:250px;
  height:209px;
  transition: background-image .4s ease-in-out;
  background-image:url(../image/home/alteredphotos.jpg);
}

#link-altered:hover {
  background-image:url(../image/home/alteredphotos-h.jpg);
}

#link-logos {
  margin:0 auto;
  width:250px;
  height:209px;
  transition: background-image .4s ease-in-out;
  background-image:url(../image/home/logos.jpg);
}

#link-logos:hover {
  background-image:url(../image/home/logos-h.jpg);
}

#link-illustration {
  margin:0 auto;
  width:250px;
  height:209px;
  transition: background-image .4s ease-in-out;
  background-image:url(../image/home/illustration.jpg);
}

#link-illustration:hover {
  background-image:url(../image/home/illustration-h.jpg);
}

#link-photography {
  margin:0 auto;
  width:250px;
  height:209px;
  transition: background-image .4s ease-in-out;
  background-image:url(../image/home/photography.jpg);
}

#link-photography:hover {
  background-image:url(../image/home/photography-h.jpg);
}

#link-shapes {
  margin:0 auto;
  width:250px;
  height:209px;
  transition: background-image .4s ease-in-out;
  background-image:url(../image/home/customshapes.jpg);
}

#link-shapes:hover {
  background-image:url(../image/home/customshapes-h.jpg);
}

#link-menus {
  margin:0 auto;
  width:250px;
  height:209px;
  transition: background-image .4s ease-in-out;
  background-image:url(../image/home/menus.jpg);
}

#link-menus:hover {
  background-image:url(../image/home/menus-h.jpg);
}


/* When I tried to do the text over the images

.caption p {
	font-size: 28px;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 0 100px 0 100px;
}
 
.caption p:hover {
	color: yellow;
	text-shadow: 3px 3px 0px #333; */
/*	color: #000;
	font-size: 26pt;
	transition: .6s;  
}      */


/* demonstrate and fine print */

.demonstrate {
	color: #333;
	text-align: center;
}

.container {
	text-align: center;
	color: #000;
	padding: 10px;
}

p.fine {
	font-size: 10pt;
	color: #939598;
}



/* Footer */

nav#footer{
	background: #222222;
	color: #ffffff;
	padding: 20px 0 15px 0;
}

nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 5px;
}

nav#footer p{
	font-size: 12px;
	margin-top: 10px;
	color: #999;
}

#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.6s;
}

#footer i.fa:hover{
	background: #0099ff;
	border-color: #0099ff;
	color: #fff;
}



/** disappearing nav **/

#header {
  display: block;
  width: 100%;
  height: 71px;
  background: white;
  /* remove shadow 
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  */
}
.fixed{
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

/** headroom.js animated styles **/
.slide{
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}

.slide--reset{
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
}

.slide--up{
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
}




